td {
    height: 40px;
    width: 40px;
}

.tile-goal {
    background-color: green;
}

.tile-space {
    background-color: black;
}

.tile-wall {
    background-color: gray;
}

.entity-block {
    background-color: brown;
}

.entity-player{
    background-color: rebeccapurple;
}