body {
    width:1024px;
    margin:auto;
    background-color:black;
}

table { 
    border-spacing: 0; 
}

td {
    position: relative;
    padding: 0px;
    height: 40px;
    width: 40px;
}

.tile-space {
    background-color:black;
}

.tile-goal {
    background-color: lightgrey;
    border-style:inset;
}

.tile-wall {
    background-color:darkgrey;
    border-style:outset;
}

.entity {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.entity-block {
    background-color:lightgrey;
    border-style:outset;
}

.entity-block-goal {
    background-color:yellowgreen;
    border-style:outset;
}

.entity-player {
    background-color:orange;
    border-style:outset;
}